{% extends 'base.html.twig' %}

{% block title %}CRUD Symfony - Vendedores{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success mt-4 mb-b">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <div class="d-flex justify-content-between w-100">
                            <h5>Listagem de Vendedores</h5>   <!-- criar uma tela -->
                            <a href="{{ url('vendedor_create') }}" class="btn-primary btn-sm"> <!-- caminho do arquivo para esta tela, rota em web.php -> CargoController.php -> create; Laravel -->
                                <i class="fa fa-plus"></i> Novo Vendedor  <!-- criar um botão -->
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>Nome</td>
                                    <td>CPF</td>
                                    <td>Salário (R$)</td>
                                    <td colspan="4" class="text-center">Ações</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vendedores in lista %}<!-- vem da function index no Controller -->
                                <tr>
                                    <th scope="row">{{ vendedores.id }}</th>
                                    <td>{{ vendedores.nome }}</td>
                                    <td>{{ vendedores.cpf }}</td>
                                    <td>R${{ vendedores.salario }} </td>
                                    <td class="text-center p-0 align-middle" width="70">
                                        <a class="btn btn-primary btn-sm" href="{{ path('vendedor_edit', {'id': vendedores.id }) }}">Editar</a>
                                    </td>
                                    <td class="text-center p-0 align-middle" width="70">
                                        <a class="btn btn-danger btn-sm" href="{{ path('vendedor_delete', {'id':vendedores.id }) }}">Excluir</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="container">
                <a href="{{ url('home') }}" class="btn btn-outline-info btn-lg btn-block">Voltar</a>
            </div>
        </div>
    </div>
{% endblock %}
